
.login-container {
    height: 100vh;
    background: linear-gradient(20deg, rgba(144, 200, 214, 0.2), rgba(175, 172, 172, 0.4), rgba(194, 193, 193, 0.3), rgba(144, 200, 214, 0.3));
}
.login-container .login {
    width: 300px;
    min-height: 350px;
    box-shadow: 0 0 3px 2px hsl(0, 0%, 90%);
}
.login a {
    border: 1px solid #ccc;
    padding: .5rem 1rem;
    background: hsl(0, 0%, 97%);
    border-radius: 3px;
}
.login a:hover {
    background: rgba(233, 233, 233, 0.7);
}
.lgoin-text {
    font-weight: 600;
    white-space: nowrap;
    color: #bbb;
}
@media screen and (max-width: 576px) {
    .login-container .login {
        width: 90%;
    }
}